*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


img{
  max-width: 100%;
}


a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}


i{
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

li{
  list-style: none;
  display: inline;
  margin-right: 5px;
}



/*HEADER*/
header{
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #FF6900;
  box-shadow: 0 0 10px 0  rgba(0, 0, 0, 0.7);  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}



.container-header{ 
  display: flex; 
  justify-content: space-around;
  align-items:center;
  align-content: center;
  width: 95%;
  height: 100%;
}
 
  
.container-header .nav,p{
  display: inline;
}


.nav a:hover{
  text-decoration: underline;
}

.container-header a img{
  width: 100px;
}


/*MAIN CARDS*/

main{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 90%;
  margin: 100px;
}



main .cards{
  position: relative;
  height: 700px;
  width: 400px;
  margin: 15px;
}


main .cards img{
  object-fit: cover;
  height: 640px;
}

.cards .primary-image:hover{
  display: inline-block;
}


.secondary-image{
  position: absolute;
  left: 0;
  top: 0;
}

.secondary-image:hover{
  display: none;
}


main .descrizione-prodotto{
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0px; 
  cursor: pointer;
}


.descrizione-prodotto .sconto,.sostenibilita{
  color: white;
  padding: 5px 5px;
  text-align: center;
  position: absolute;
  bottom: 100px;
 
}


.prezzo{
  color: red;
}


.sconto{
  left: 0;
  width: 50px;
  height: 25px;
  background-color: red;
}



.sostenibilita{
  left: 60px;
  width: 100px;
  height: 25px;
  background-color: green;
}


.cuore{
  position: absolute;
  right: 0;
  top: 10px;
  width: 45px;
  height: 45px;
  background-color: #FFFFFF;
  color: black;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.cuore:hover{
  color: red;
}

/*FOOTER*/
footer{
  position: relative;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #1A1A1A;
}


footer nav{
  padding-top: 5px;
}


footer nav li a:hover{
  text-decoration:underline ;
}


.container-footer{
  display: flex;
  justify-content: space-between ;
  width: 80%;
  height: 100%;
  color: white;
}


.bottom-left, .bottom-right{
  padding-top: 10px;
}

.bottom-right{
  display: block;
}

.bottom-right span{
  padding-left: 5px;
}

.bottom-right i{
  padding: 8px 5px 0 0;
}